.main-section {
  grid-column: 1 / span 3;
  color: azure;
  padding: 2%;
}


.content {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h1 {
  font-size: 4.5rem;
}

p {
  font-size: 1.75rem;
}
