.main-section {
  grid-column: 1 / span 3;
  height: 100%;
  position: relative;
  overflow: hidden;
  color: azure;
}
.content {
  text-align: right;
}

h1 {
  font-size: 4.5rem;
}

p {
  font-size: 1.75rem;
  font-weight: 500;
}
