.content {
  text-align: center;
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.content p {
  font-size: clamp(2rem, 8vw, 10rem);
  font-weight: 700;
}

.content p:nth-child(1) {
  color: var(--ultra-violet);
}

/* .content p:nth-child(1) {
  
} */