.portfolio {
  border: 2px solid aqua;
  height: 100vh;
  width: 100%;
  border-radius: 25px;
}

.portfolio:nth-child(odd){
  background: rebeccapurple;
}
.portfolio:nth-child(even){
  background: pink;
}