.social-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  background: rebeccapurple;
}

.social-card > * {
  margin: 10px 0;
}

.social-card h1 {
  font-size: clamp(2.5rem, 5vw, 5rem);
}
.social-card p {
  font-size: clamp(1rem, 2vw, 1.5rem);
}
