* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--koho-font);
}

:root {
  --ultra-violet: #4c4382ff;
  --finn: #5e3973ff;
  --byzantium: #702e64ff;
  --claret: rgb(148, 25, 68);
  --amaranth-purple: #a13253ff;
  --china-rose: #ad4b61ff;
  --wheat: #f5deb3ff;
  --main-pink: #b36a95;
  --font-azure: azure;
}

body {
  background: linear-gradient(45deg, #e4b6bb71, #201c3154), #d899c8b7;
  color: var(--font-azure);
}

.App {
  padding: clamp(1rem, 1vw, 1.5rem) clamp(1.5rem, 3vw, 3rem);
}

section {
  margin: 20px 0;
}
