* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--koho-font);
}

:root {
  --ultra-violet: #4c4382ff;
  --finn: #5e3973ff;
  --byzantium: #702e64ff;
  --claret: #941945ff;
  --amaranth-purple: #a13253ff;
  --china-rose: #ad4b61ff;
  --wheat: #f5deb3ff;
}

body {
  background-color: #4c4382ff;
}

.gradient-bg::before {
  position: absolute;
  background: url("../src/assets/bg8.jpg") center;
  content: "";
  height: 100%;
  width: 100%;
  filter: blur(5px);
  z-index: -1;
}

.App {
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, max-content);
  gap: 0.5rem;
}

.test-card {
  padding: 3%;

  border-radius: 25px;
  background: linear-gradient(145deg, #e4b6bb71, #ffd8df91);
}
