@import url(https://fonts.googleapis.com/css?family=KoHo:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);
:root {
 --koho-font:"Koho";
}

a {
  color: unset;
  text-decoration: none;
  text-wrap: nowrap;
}

ul {
  list-style: none;
}

img {
  display: block;
}

button {
  border: none;
  outline: none;
  text-wrap: nowrap;
}